html {
  width: 960px;
  margin: 30px auto;
}

/* HEADER */
header {
  overflow: auto;
  width: 100%;
}
#logo img {
  float: left;
  height: 45px;
  margin-right: 10px;
}
#logo h3 {
  font-family: 'Yellowtail', cursive;
  font-weight: 600;
  font-size: 35px;
}
#logo h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
#logo {
  float: left;
  margin-bottom: 15px;
  width: 480px;
}
#icons {
  text-align: right;
  float: left;
  width: 480px;
  height: 45px;
  margin-bottom: 15px;
}
#icons a:nth-child(6) {
  margin-right: 10px;
}
#icons img:hover{
  transform: translateY(2px);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
  cursor: pointer;
}

/* MAIN */
.line {
  height: 10px;
  width: 960px;
  background-image: url("../img/hr-img.png");
}

/* TOP PART */
#main-logo {
  padding-top: 40px;
}
#main-logo h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  margin-bottom: 5px;
}
#main-logo h2 {
  float: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  width: 480px;
  padding-top: 5px;
}
#print * {
  float: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}
#print:hover {
  cursor: pointer;
  transition: 300ms;
  border-radius: 5px;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
}
#print{
  float: right;
  padding: 5px;
}
#print p {
  margin-left: 5px;
}
#hero {
  width: 960px;
  margin: 15px 0;
}

/* TEXT */
#main-text p {
  text-indent: 2em;
  line-height: 1.3em;
  margin-bottom: 15px;
  font-size: 14pt;
  text-align: justify;
}

/* RECIPE */
#recipe {
  background-image: url("../img/list-bg.png");
  background-repeat: no-repeat;
  background-size: 960px 300px;
  width: 960px;
  height: 300px;
  margin-bottom: 35px;
}
#recipe div {
  float: left;
  width: 400px;
  padding-left: 80px;
  padding-top: 36px;
  font-family: 'Chilanka', cursive;
  font-size: 20px;
}
#recipe div li {
  line-height: 31px;
}
#recipe input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* CHECKBOXES */
input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
input[type=checkbox] {
  opacity: 0;
}
input[type="checkbox"] + label:before {
border: 1px solid rgb(83, 83, 83);
border-radius: 3px;
content: "\00a0";
display: inline-block;
height: 20px;
width: 20px;
line-height: 20px;
margin: 0px 12px -7px -30px;
vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
background: rgb(255, 255, 230);
color: rgb(83, 83, 83);
content: "\2713";
text-align: center;
}

/* SHARE */
#share {
  overflow: auto;
  width: 100%;
  margin: 20px 0 50px 0;
}
#share img {
  float: left;
  margin-right: 15px;
}
#share h5 {
  float: left;
  width: 600px;
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 10px;
}
#share p {
  float: left;
  width: 550px;
  font-size: 14pt;
}
#share button {
  margin-top: 10px;
  float: right;
  background: brown;
  color: white;
  padding: 10px 20px;
  border: none;
  outline:none;
}
#share button:hover {
  background: rgb(80, 26, 26);
  transition: 300ms;
}

/* FOOTER */
footer {
  clear: both;
  text-align: center;
  color: gray;
}
footer img {
  position: relative;
  top: -16px;
}
#split-border span {
  position: relative;
}
#split-border span::before, 
#split-border span::after {
  border-bottom: 1px solid black;
  content: "";
  position: absolute;
  width: 460px;
} 
#split-border span::before {
  margin-right: 20px;
  right: 100%
}
#split-border span::after {
  margin-left: 20px;
}
